---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";

interface Props {
  pageTitle: string;
  description: string;
}

const { pageTitle, description } = Astro.props;
---

<!--
A base layout for most pages.
-->
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta content={pageTitle} name="title" />
    <meta content={description} name="description" />
    <slot name="metas" />
    <title>{pageTitle}</title>
    <slot name="preloads" />
    <!-- Fonts -->
    <link
      as="font"
      crossorigin
      href="/fonts/playfair-display-variable.ttf"
      rel="preload"
      type="font/truetype"
    />
    <link
      as="font"
      crossorigin
      href="/fonts/playfair-display-italic-variable.ttf"
      rel="preload"
      type="font/truetype"
    />
    <link
      as="font"
      crossorigin
      href="/fonts/eb-garamond-variable.ttf"
      rel="preload"
      type="font/truetype"
    />
    <link
      as="font"
      crossorigin
      href="/fonts/eb-garamond-italic-variable.ttf"
      rel="preload"
      type="font/truetype"
    />
  </head>
  <body>
    <Header />
    <h1 class="text-6xl">{pageTitle}</h1>
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
